*{
    margin: 20;
    padding: 20;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgba(4, 46, 4, 0.933);
    color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.parent{
    display: flex;
    gap: 30px;
}
.container{
    background: #1E293B;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid black;
    width: 350px;
    text-align: center;
    box-shadow: 0px 0px 10px gray;
}
input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}
button{
    width: 100%;
    padding: 10px;
    background: #22C55e;
    color: white;
    border-radius: 10px;
    border: none;

}
.student-img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid white;
    margin: 15px 0;
}